body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  max-width: 100%;
}
.container {
  /* max-width: 1000px; */
  margin: auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Header Section */
.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  border-bottom: 2px solid #000;
  padding: 10px 0 15px 0;
  margin-bottom: 20px;
}

/* Left box  */
.header-left {
  font-size: 0.8em;
  color: #444;
  background: #eee;
  padding: 10px;
  max-width: 150px;
}
.header-center {
  text-align: center;
}

/* Center  */
.header-center h1 {
  font-size: 10vw;
  margin: 0;
  font-weight: bold;
}

.header-center .subtitle {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.flex span {
  flex: 1;
}
.line_t {
  background-color: rgba(84, 81, 81, 0.372);
  height: 1px;
  margin: 0 8px;
}
.header-right {
  font-size: 0.9em;
  color: #c45d00;
  text-align: center;
  /* max-width: 180px; */
}
/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 20px;
}
/* Lower grid inside left column */
.grid-lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}
.Govt-Policy {
  background: #9b9292c2;
  padding: 10px 120px 50px 10px;
}
.article {
  margin-bottom: 20px;
}
.article h2 {
  margin: 0;
  font-size: 1.4 em;
  /* border-bottom: 2px solid #333; */
  padding-bottom: 5px;
}
.article p {
  font-size: 0.95em;
  line-height: 1.5em;
  color: #444;
}

/* highlight Section */
.highlight {
  background: #f26419;
  color: #fff;
  padding: 10px;
  margin: 20px 0;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.highlight h2 {
  font-size: 8vw;
  margin: 0;
  flex: 1 1 100%;
}
.highlight p {
  margin: 0 auto;
  font-size: 3vw;
  flex: 1 1 300px;
}
.highlight img {
  flex: 1 1 250px;
  border-radius: 8px;
  height: auto;
  width: 100%;
}

/* Sidebar  */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar .box {
  background: #eee;
  padding: 15px;
  border-left: 5px solid #f26419;
  border-radius: 4px;
}

.sidebar .box h3 {
  margin: 0;
  font-size: 1.2em;
  border-bottom: 2px solid #f26419;
  padding-bottom: 5px;
}

/* Responsive Design */

/* mobile screens : <600px */
@media (max-width: 600px) {
  .header-center h1 {
    font-size: 2em;
  }

  .grid-lower {
    grid-template-columns: 1fr;
  }

  .flex span {
    font-size: 0.9em;
  }
  body {
    font-size: 15px;
  }
}

/* tablet screens : <900px */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .header {
    text-align: center;
  }
  .header-left,
  .header-center,
  .header-right {
    text-align: center;
  }
}
